<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fraud Detection</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        <li><a href="#msg">Home</a></li>
        <li><a href="#contact">Contact us</a></li>
      </ul>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Fraud Detection in Text Messages</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict the probability of Spam content in text
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="msg"><b>Text Message</b></label>
            <br>
          <input placeholder="Enter or copy paste the text" id="msg" type="text" name="message" class="validate" required>
        </div>
      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Predict</button>
      </div>
    </form>
      </div>
      <br>
        {{pred}}<br>
        <br>
        {{precision}}<br>
        <br>
        {{accuracy}}<br>
        <br>
        {{recall}}<br>
        <br>
        {{f1score}}<br>
    </div>
  </div>
    <br><br>
  </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Project Info</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project. It is the beginning of our project. We will continue development and release in new versions.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text" id="contact">Connect</h5>
          <ul>
            <li><a class="white-text" href="mailto:saisumakakileti@gmail.com">Suma</a></li>
            <li><a class="white-text" href="mailto:prakashvatturi.406@gmail.com">Surya</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>

